@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');
@source "../index.html";
@source "./**/*.{js,ts,jsx,tsx}";

/* Base Styles */
body {
  background: #F5F5F5;
  margin: 0;
  font-family: 'Playfair Display', Georgia, serif;
  font-weight: 400;
  letter-spacing: -0.02em;
}

h1, h2, h3, h4, h5, h6, p {
  letter-spacing: -0.02em;
}

/* Hide Scrollbar for Chrome/Safari/Opera */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide Scrollbar for IE, Edge and Firefox */
.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1, h2, h3, h4 {
  font-feature-settings: "rlig" 1, "calt" 1;
}
